{% load static %}

<div id="sideBar">
    <ul>
        <a href="{% url 'vendas' %}" id="currency-dollar">
            <li>
                <img src="{% static 'barraquinhas/img/currency-dollar.png' %}" alt="Vendas" width="16" height="16" class="d-inline-block align-text-top">
                Nova Venda
            </li>
        </a>
        <a href="{% url 'vendas' %}" id="report">
            <li>
                <img src="{% static 'barraquinhas/img/receipt-cutoff.png' %}" alt="Vendas" width="16" height="16" class="d-inline-block align-text-top">
                Histórico Vendas
            </li>
        </a>
</div>