* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

#root {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer, header {
    background-color: #225d6e;
    width: 100vw;
    height: 7vh;
}

footer, header a {
    color: white;
}

footer, header a:hover {
    color: white;
}