main{ 
    height: 86vh;
    justify-content: center;
}

#saoPedro {
    width: 40%;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 15px;
}

form {
    width: 40%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
}

button {
    margin-bottom: 10px;
    width: 30%;
}

button a {
    text-decoration: none;
    color: white;
}

@media (max-width: 615px) {
    button {
        width: 50%;
    }
    
    #saoPedro { 
        width: 75%;
    }

    form {
        width: 50%;
    }
}