#receipt-cutoff li {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

#currency-dollar li {
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
}

.vendas-admin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.graficos {
    gap: 30px;
    display: flex;
    width: 80%;
    flex-direction: column;
}

.grafico {
    display: flex;
    justify-content: center;
}

#valor {
    margin-left: 70px;
}

#quantidade {
    max-width: 97%;
}
.filtros {
    display: flex;
    margin-top: 2%;
    gap: 20px;
}

div input {
    min-width: 215px;
}

#excel-download img {
    width: 30px;
}

.btn {
    align-self: flex-start;
    margin: 0;
    height: 57px;
    width: 100%;
}

.filtros a {
    width: 57px;
    height: 57px;
}
