#receipt-cutoff li {
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

#currency-dollar li {
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
}

.vendas-admin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.graficos {
    gap: 30px;
    display: flex;
    width: 80%;
    flex-direction: column;
}

.grafico {
    display: flex;
    justify-content: center;
}

#valor {
    margin-left: 70px;
}

#quantidade {
    max-width: 97%;
}