main{
    display: grid;
    grid-template-columns: 175px auto;
    min-height: 86vh;
    width: 100%;
}

#report li {
    background-color: rgba(245, 222, 179, 0.5);
    color: var(--cor-principal);
}

#content {
    background-color: rgba(245, 222, 179, 0.5);
    width: 100%;
}

.simbolo-mais {
    width: 18px;
}

.colunas-centralizadas{
    text-align: center;
}