main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 86vh;
}

button {
    margin-bottom: 10px;
    width: 100%;
}

button a {
    text-decoration: none;
    color: white;
}