main{ 
    height: 86vh;
    justify-content: center;
}

#saoPedro {
    width: 35%;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 15px;
}

form {
    width: 35%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
}

button {
    margin: 10px;
    width: 50%;
}

button a {
    text-decoration: none;
    color: white;
}

#botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login_erro {
    margin: 0;
}

@media (max-width: 920px) {
    button {
        width: 70%;
    }
    
    #saoPedro { 
        width: 45%;
    }

    form {
        width: 45%;
    }
}

@media (max-width: 700px) {
    button {
        width: 70%;
    }
    
    #saoPedro { 
        width: 60%;
    }

    form {
        width: 60%;
    }
}