#sidebar {
    display: flex;
    height: -webkit-fill-available;
    background-color: var(--cor-principal);
    text-align: justify;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sidebar li {
    padding: 5px 15px;
    display: block;
    transition: background-color 0.3s ease-in-out;
}

#sidebar li:hover {
    color: var(--cor-principal);
    background-color: wheat;
}

#sidebar a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

#sidebar a:hover {
    color: var(--cor-principal);
}