{% extends "./base.html" %}
{% load static %} 

{% block title %} Barraquinhas {% endblock %} 


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}


{%block content%}
    <main>
        <a href="{% url 'vendas' %}"><button class="btn btn-success">Sistema de Vendas</button></a>

        {% if request.user.is_staff %}
            <a href="{% url 'admin:index' %}"><button class="btn btn-success">Área Administrativa</button></a>
        {% endif %}
    </main>
{% endblock %}