{% extends "./base.html" %}
{% load static %} 

{% block title %} Relatório {% endblock %} 

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/vendas.css' %}" />
    <link rel="stylesheet" href="{% static 'css/relatorio_vendas.css' %}" />
{% endblock %}


{%block content%}
<main id="content">
    {% include "./sidebar.html" %}
    <div class="vendas-admin">
        <div class="filtros">
            <div class="form-floating mb-3">
                <input type="date" name="data_inicial" value="{{data_inicio}}" class="form-control" placeholder="Data Inicial" id="dataInicio">
                <label>Data Inicial</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" name="data_final" value="{{data_fim}}" class="form-control" placeholder="Data Final" id="dataFim">
                <label>Data Final</label>
            </div>
            <button type="button" data-url="{% url "exportar_vendas" %}" id="excel-download" class="btn btn-primary" onclick="exportarExcel()">
                <img src={% static "img/filetype-xlsx white.png" %} />
            </button>
        </div>
        <div class="graficos">
            <div class="grafico" id="quantidade">
                <canvas id="quantidadeVendida"  data-url="{% url "graficos_vendas" %}"></canvas>
            </div>
            <div class="grafico" id="valor">
                <canvas id="valorVendido"></canvas>
            </div>
        </div>
    </div>
</main>
{% endblock content %}


{% block scripts %}
    <script type="text/javascript" src="{% static "js/chart/chart.umd.js" %}"></script>
    <script type="text/javascript" src="{% static "js/utils.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gerador_graficos.js" %}"></script>
    <script type="text/javascript" src="{% static "js/relatorio_vendas.js" %}"></script>
{% endblock scripts %} 