{% load static %}

<div id="sidebar">
    <ul>
        <a href="{% url 'vendas' %}" id="currency-dollar">
            <li>
                <img src="{% static 'img/currency-dollar.png' %}" alt="Nova Venda" width="16" height="16" class="d-inline-block align-text-top">
                Nova Venda
            </li>
        </a>
        <a href="{% url 'historico_vendas' %}" id="report">
            <li>
                <img src="{% static 'img/receipt-cutoff.png' %}" alt="Histórico Vendas" width="16" height="16" class="d-inline-block align-text-top">
                Histórico Vendas
            </li>
        </a>
</div>