{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" /> 
{% endblock styles %}

<div id="sidebar">
    <ul>
        <a href="{% url 'index' %}" id="inicio">
            <li>
                <img src="{% static 'img/menu-button.png' %}" alt="Menu" width="16" height="16" class="d-inline-block align-text-top">
                Início
            </li>
        </a>
        <a href="{% url 'vendas' %}" id="currency-dollar">
            <li>
                <img src="{% static 'img/currency-dollar.png' %}" alt="Nova Venda" width="16" height="16" class="d-inline-block align-text-top">
                Nova Venda
            </li>
        </a>
        {% if request.user.is_staff %}
        <a href="{% url 'admin:index' %}" id="receipt-cutoff">
            <li>
                <img src="{% static 'img/receipt-cutoff.png' %}" alt="Nova Venda" width="16" height="16" class="d-inline-block align-text-top">
                Administração
            </li>
        </a>
        {% endif %}
</div>

{% block scripts %}
    <script src="{% static "js/sidebar.js" %}"></script>
{% endblock %}